@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h2 class="form__message-success form__message-success-active">YOUR DATA WAS UPLOADED SUCESSFULLY TO OUR DATABASE</h2>
    <p class="form__message-success form__message-success-active">THANKS FOR USE OUR USER DATA COLLECT SERVICE</p>
    <a asp-controller="Home" asp-action="Index" class="form__message-success-link form__message-success-active">COME BACK AND SEND AGAIN DATA</a>
</div>